@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form asp-action="Search" method="post">
            <h1 class="display-4">Welcome!</h1>
            <p class="display-4">Please enter an Employee Id</p>
            <div class="text-center">
                <input type="text" id="Search" name="Search" placeholder="Search" class="control-label" />


            <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='text']").on("input", function () {
                var value = $(this).val();
                if (value !== "" && !$.isNumeric(value)) {
                    $(this).val("");
                    $.confirm({
                        title: 'Caution!',
                        content: 'Please enter a positive number.',
                        buttons: {
                            Ok: function () {
                            }
                        }
                    });
                };
            });
        });
    </script>

}
